html, body{
    margin: 0;
    padding: 0;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
    height: 90vh;

    .logo{
        img{
            width: 100%;
        }
    }

    form{
        display: flex;
        flex-direction: column;
        margin: 2em;
        
        input, button, select {
            margin: 0.2em;
            padding: 1em;
        }
    }
}

.block{
    padding: 0 1em;
    margin: 1em 0;
    max-width: 650px;
    .title{
        background-color: #38003D;
        color: white;
        height: 7vh;
        display: flex;
        align-items: center;
        border-radius: 20px 20px 0 0;
        padding: 0 1em;
        justify-content: space-between;
    }
    
    
    .content{
        padding: 1em;
        background-color: rgb(232, 232, 235);
        border-radius: 0 0 20px 20px;

        :nth-child(1){
            margin-top: 0px
        }
        :nth-child(10){
            margin-bottom: 0px
        }
    }
    
}

