.event-full{
    display: none;
}

.gameweekSelect{
    display: flex;
    align-items: center;
    select{
        height: 4vh;
    }
    .chev{
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
}


@media only screen and (min-width: 600px) {
    .gameweekSelect{
        
        .chev{
            width: 50px;
            height: 50px;
        }
    }

    .fixtureRow{
        flex-direction: row;

        .teams{
            flex-direction: row;
            width: 100%;

            .event-full{
                display: flex !important;
                flex-direction: column;
                align-items: center;
                width: 100%;
                .score{
                    font-size: 2em;
                }
            }
           
            .homeTeam{
                justify-content: flex-start;
                .score{
                    display: none;
                }
            }
        

            .awayTeam{
                justify-content: flex-end;
                // .score{
                //     order: 1;
                //     font-size: 2em;
                // }
                .info{
                    .teamLogo{
                        order: 2;
                        margin: 0 0 0 1em;
                    }
                    div{
                        order: 1;
                    }
                }
                .score{
                    display: none;
                }
            }

            .teamLogo{
                width: 50px;
                height: 50px;
            }
        }

        .event{
            display: none;
        }

        
    }
  }