.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    background-color: #38003D;
    color: white;
    margin-bottom: 1em;

    .navbar{
        display: none;
    }

    .logo{
        padding: 1em 0;
        img{
            width: 50px;
            height: 50px;
        }
    }
    .menuButton{
        width: 40px;
        height: 40px;
        filter: invert(100);
    }
}

.navs{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1em;

    

    a{
        text-decoration: none;
        color: white;
        position: relative;
        transition: all 1s ease-in-out;

        
       
        
        
    }

    a, div{
        padding: 0 1em;
        .underline{
            border-bottom: 1px solid white;
            width: 10px;
            position: absolute;
            top: 30px;
        }
    }

    div{
        cursor: pointer;
    }

}

@media only screen and (min-width: 600px) {
    .navbar{
        display: flex !important;
    }
    .navs{
        flex-direction: row;
    }
    .menuButton{
        display: none !important;
    }
  }